* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #6d6d6d;
}

html, body {
    height: 100%;
    width: 100%;
}

#container {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 60% 30%;
}

a {
    text-decoration: none;
    margin: 20px;
    color: #6d6d6d;
}

nav{
    padding: 1%;
    grid-column: 1 / 5;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

#logo {
    width: 40px;
    height: 40px;
    
}

.menu {
    display: inline-block;
    padding-left: 100px;
}


#left {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 30%;
}

#right {
    grid-column: 3/5;
    grid-row: 2 / 4;
}

#pollution_image {
    width: 80%;
    height: auto;
}

#middle { 
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: left;
    align-self: center;
    padding-left: 10%;
}

h1 {
    font-size: 75px;
    color: #3f3f3f;
}

h3 {
    font-size: 30px;
    font-weight: 100;
}

button {
    padding: 3px;
    height: 40px;
    width: 100px;
    margin-top: 10px;
    border-radius: 20px;
    background: linear-gradient(#88f45e, #39db15, #39db15 );
    border: 0;
    color: #145007;
}

#bottom-left {
    grid-column: 1/2;
    grid-row: 2/4;
    justify-self: left;
    align-self: center;
    padding-left: 20%;
}

.head {
    font-size: 20px;
    font-weight: bold;
    color: #292929;
}

.head-content {
    font-size: 15px;
    color: #373737;
}

#bottom-right {
    grid-column: 2/3;
    grid-row: 2/4;
    justify-self: left;
    align-self: center;
    padding-left: 20%;
}